.active {
	color: #4e2579 !important;
}

.active i {
	color: #4e2579 !important;
}

body{
	overflow: hidden;
}

table{
	width: 100%;
}

table th{
	text-align: center;
}

table td{
	text-align: center;
}

form label{
	font-weight: bold;
}

input, select {
	text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}