.active {
	background: white !important;
	color: #4e2579 !important;
}

body{
	overflow: hidden;
}

table{
	width: 100%;
}

table th{
	text-align: center;
}

table td{
	text-align: center;
}

form label{
	font-weight: bold;
}